@import '_reset';
body{
    
}
.header{
    width: 100%;
    padding: 2rem 0;
    &__wrapper{
        width: 80%;
        margin: auto;
        
    }
    &__h1{
        font-size: 5em;
        font-family: 'harmondsemi_bold_condensed';
        text-align: center;
    }
}

.sorteo{
    width: 100%;
    padding: 0 0 2rem 0;
    &__wrapper{
        width: 90%;
        max-width: 900px;
        margin: auto; 
        border: 1px solid black;
        border-radius: 1rem;
        padding: 2rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    &__input{
        width: 30%;
        padding: 0.6rem 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 0 0 1rem 0;
    }
    &__nombres{
        margin: 0 0 1rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        
    }
    &__nombre{
        font-size: 1.4em;
        margin: 0.6rem 0;
        
        &.activo{
            background-color: aqua;
        }
    }
    &__btn{
        margin: 0 0 1rem 0;
        padding: 0.6rem 2rem;
        background-color: red;
        border-radius: 1rem;
        color: white;
    }
}